body {
    background-image:url(https://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg);
    text-align: center;
}

h1 {
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

#milky-way {
    flex-wrap: wrap;
    align-content: center;
    display: flex;
}


.cards{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2%;
    width: 350px;
    height: 300px;
    border-radius: 100%;
    color: white;
}

.hidden {
    display: none;
}

img{
    border-radius: 100%;
    margin: 2%;
    width: 350px;
    height: 300px;
}

.bigPlanet {
    align-content: center;
    color: white;
    padding-top: 75px;
    padding-left: 290px;
}

.x {
    color: red;
    width: 100px;
}